*{
box-sizing:border-box;
}

body{
margin:0;
overflow:hidden;
font-family:"Comic Sans MS", cursive;
background:
linear-gradient(135deg,
#ffd6e7,
#fff5a8,
#d8ffd8,
#d9e8ff,
#f0d5ff);
}


.book{
width:100vw;
height:100vh;
position:relative;
}


.page{
display:none;
width:100%;
height:100%;
padding:25px;
align-items:center;
justify-content:center;
flex-direction:column;
text-align:center;
position:absolute;
}


.page.active{
display:flex;
animation:pagePop .8s ease;
}



@keyframes pagePop{

0%{
opacity:0;
transform:scale(.5) translateY(80px);
}

70%{
transform:scale(1.08);
}

100%{
opacity:1;
transform:scale(1);
}

}



h1{
font-size:55px;
font-family:cursive;
color:#ff4f91;
text-shadow:
3px 3px white,
5px 5px #ffd166;

animation:bounce 2s infinite;
}



h2{
color:#ff5d8f;
font-size:28px;
}



.box{

background:
rgba(255,255,255,.85);

border-radius:35px;

padding:25px;

width:90%;

max-height:75vh;

overflow:auto;

box-shadow:

0 10px 25px rgba(255,100,170,.3);

border:

5px solid #ffe066;

}



.box p{

color:#7b3562;

font-size:17px;

line-height:1.7;

}



button{

border:none;

background:#ff8fab;

font-size:30px;

width:70px;

height:70px;

border-radius:50%;

margin-top:20px;

cursor:pointer;

box-shadow:0 8px 0 #d94f82;

animation:bounce 1.5s infinite;

}



@keyframes bounce{

50%{
transform:translateY(-12px);
}

}



.photos{

display:flex;

gap:10px;

justify-content:center;

flex-wrap:wrap;

}



.photos img{

width:80px;

height:110px;

object-fit:cover;

background:white;

padding:8px;

border-radius:5px;

box-shadow:0 5px 15px #ffb6d9;

transform:rotate(-5deg);

}



.photos img:nth-child(2){

transform:rotate(5deg);

}



.photos img:nth-child(3){

transform:rotate(-3deg);

}



.voucher{

margin-top:30px;

background:

linear-gradient(#fff,#ffe6f2);

padding:25px;

border-radius:30px;

border:5px dashed #ff8fab;

font-size:25px;

color:#ff4f91;

animation:bounce 2s infinite;

}



.sticker{

position:absolute;

width:80px;

animation:stickerPop 1s;

}



@keyframes stickerPop{

0%{

transform:scale(0) rotate(-30deg);

}

70%{

transform:scale(1.2);

}

100%{

transform:scale(1);

}

}
